/* IMPORTANDO AS FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #E2E5F4;
    font-size: 10pt;
    font-family: 'Inter', sans-serif;
    color: white;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* DEFININDO FONTES */
h1 {
    font-family: 'Sarala', sans-serif;
    font-size: 20pt;
}
/*******************/
/* DEFININDO OS LAYOUTS */
.welcome {
    background-color: #384DB4;
    display: inline-block;
    position: relative;
    width: 400px;
    height: 504px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.login {
    background-color: white;
    display: inline-block;
    position: relative;
    width: 400px;
    height: 504px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nao-tem-conta {
    position: absolute;
    top: 290px;
    left: 30px;
}
/*******************/

/* DEFINIÇOES DA PARTE AZUL*/
.welcome-content {
    display: block;
    position: absolute;
    left: 70px;
    top: 170px;
}
/*******************/

/* DEFINIÇOES DA PARTE BRANCA */
.login-content {
    color: black;
    display: block;
    position: absolute;
    left: 75px;
    top: 100px;
}
.login-content h1 {
    color:#384DB4;
    margin-bottom: 10px;
}
.esqueceu-a-senha {
    font-size: 8pt;
}
.login-content p span {
    color: blue;
}
.login-content p span:hover {
    color: black;
}
/* CONFIGURAÇAO DO INPUT */
input {
    border-radius: 20px;
    padding: 20px;
    margin: 2px;
    border: none;
    background-color: #E2E5F4;
    width: 265px;
    height: 30px;
}
input::placeholder {
    color: black;
    text-align: center;
}
/*******************/
 
/* CONFIGURACÃO DO BOTAO */
button {
    background-color: #384DB4;
    border: none;
    width: 265px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-top: 25px;
}
button:hover {
    color: #384DB4;
    background-color: #E2E5F4;
}
button a:hover {
    color: black;
}
button a {
    color: white;
    font-size: 20pt;
}
/*******************/

.nao-tem-conta {
    padding-top: 25px;
    border-top: 0.3px solid #000000;
    text-align: center;
}
.nao-tem-conta p {
    color: black;
}
.nao-tem-conta p span {
    color: blue;
}
.nao-tem-conta p span:hover {
    color: black;
}
/*******************/

@media screen and (max-width: 800px) {
    .welcome {
        display: none;
    }
    .login {
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}